<div class="wrapper">
  <div class="container home">
  <h1>ÉMILE ET UNE ADRESSE</h1>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="type-text">
          <span id="banner-typed-text"></span>
        </div>
<!--         <div class="baseline">
          <h2>Croquez Paris !</h2>
        </div> -->
        <div class="form-post">
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= f.error_notification %>
            <div class="form-inputs ">
              <%= f.input :first_name, label: false, required: true, autofocus: true, placeholder: 'Prénom' %>
              <%#= f.input :birth_date, as: :date, start_year: Date.today.year - 78, end_year:Date.today.year,
                           order: [:day, :month, :year], label: "Date de naissance", required: true, class: "date"%>
              <%= f.input :email, label: false, required: true, autofocus: true, placeholder: 'Adresse email' %>
              <%= f.hidden_field :detail_id, value: params[:id] %>
              <%#= f.input :password, label: false, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), placeholder: 'Mot de passe', class: "hint" %>
              <%#= f.input :password_confirmation, label: false, required: true, placeholder: 'Confirmez mot de passe' %>
            </div>

            <div class="form-actions">
              <%= f.button :submit, "Partager mon établissement", class: "btn btn-emile"  %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

