<%= render 'shared/navbar_without_return' %>
<div class="wrapper show">
  <div class="container">
    <div class="row">
      <div class="col-sm-offset-1 col-sm-10">
        <h2>Mes adresses enregistrées</h2>
        <% if @saved_places.nil? %>
          <div class="few-results">
            <p>Tu n'as encore aucune adresse enregistrée</p>
          </div>
        <% else %>
          <% @saved_places.each do |saved_place| %>
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
              <div class="card-category">
                <h1><%= saved_place.place.name %></h1>
                <p>
                <% if (saved_place.place.address[-2] == "0") %>
                  <% if (saved_place.place.address[-1] == "1") %>
                    <%= saved_place.place.address[-1] %> er arrondissement
                  <% else %>
                    <%= saved_place.place.address[-1] %> eme arrondissement
                  <% end %>
                <% else %>
                  <%= saved_place.place.address[-2..-1] %> eme arrondissement
                <% end %>
                </p>
              </div>
              <div class="card-description">
                <p><%= saved_place.place.type_of_place %></p>
              </div>
              <div class="card-heart">
                <p>8</p>
                <i class="fa fas fa-heart"></i>
              </div>
            </div>
          <% end %>
        <% end %>
        <h2>Mes adresses partagées</h2>
        <% if @shared_places.nil? %>
          <div class="few-results">
            <p>Tu n'as encore aucune adresse partagée</p>
          </div>
        <% else %>
          <% @shared_places.each do |shared_place| %>
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
              <div class="card-category">
                <h1><%= shared_place.place.name %></h1>
                <p>
                <% if (shared_place.place.address[-2] == "0") %>
                  <% if (shared_place.place.address[-1] == "1") %>
                    <%= shared_place.place.address[-1] %> er arrondissement
                  <% else %>
                    <%= shared_place.place.address[-1] %> eme arrondissement
                  <% end %>
                <% else %>
                  <%= shared_place.place.address[-2..-1] %> eme arrondissement
                <% end %>
                </p>
              </div>
              <div class="card-description">
                <p><%= shared_place.place.type_of_place %></p>
              </div>
              <div class="card-heart">
                <p>8</p>
                <i class="fa fas fa-heart"></i>
              </div>
            </div>
          <% end %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

