<%= render 'shared/navbar_without_return' %>
<div class="wrapper show">
  <div class="container">
    <div class="row">
      <div class="col-sm-offset-1 col-sm-10">
        <h2>Mes adresses enregistrées</h2>
        <% if @saved_places.empty? %>
          <div class="few-results">
            <p>Tu n'as encore aucune adresse enregistrée</p>
          </div>
        <% else %>
          <% @saved_places.each do |saved_place| %>
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
              <div class="card-category">
                <h1><%= saved_place.place.name %></h1>
                <p>
                <%= saved_place.place.address.split(",")[1][1..5] %>
                </p>
              </div>
              <div class="card-description">
                <p><%= saved_place.place.type_of_place %></p>
              </div>
              <div class="card-heart">
                <p>8</p>
                <i class="fa fas fa-heart"></i>
              </div>
              <div class="delete">
                <%= link_to "Supprimer",place_saved_place_path(saved_place), method: :delete %>
              </div>
            </div>
          <% end %>
        <% end %>
        <h2>Mes adresses partagées</h2>
        <% if current_user.places.empty? %>
          <div class="few-results">
            <p>Tu n'as encore aucune adresse partagée</p>
          </div>
        <% else %>
          <% current_user.places.each do |shared_place| %>
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
              <div class="card-category">
                <h1><%= shared_place.name %></h1>
                <p>
                <%= shared_place.address.split(",")[1][1..5] %>
                </p>
              </div>
              <div class="card-description">
                <p><%= shared_place.type_of_place %></p>
              </div>
              <div class="card-heart">
                <p>8</p>
                <i class="fa fas fa-heart"></i>
              </div>
            </div>
          <% end %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

