<div class="footer oli">

  <div>
      <% if user_signed_in? %>
        <div>
          <%= link_to places_path do %>
            <%= image_tag("Logo_seul.png", width: '20') %><br>Explorer
          <% end %>
        </div>
      <% else %>
        <div>
          <%= link_to notlogin_path do %>
            <%= image_tag("Logo_seul.png", width: '20') %><br>Explorer
          <% end %>
        </div>
      <% end %>
    <!--   <div><%#= link_to "<i class='fa fas fa-heart pinkk'></i> Favoris".html_safe, destroy_user_session_path, method: :delete %></div> -->

  </div>

  <div>
    <% if user_signed_in? && current_user.places.length < 5 %>
      <%= link_to new_detail_path do %>
        <div class="plus-button"><div style="margin: 0 !important; color: white; font-size: 32px;"><i class="fa fa-plus"></i></div></div>
      <% end %>
    <% elsif user_signed_in? && current_user.places.length >= 5 %>
      <%= link_to toomanyshared_path do %>
        <div class="plus-button-inactive"><div style="margin: 0 !important; color: white; font-size: 32px;"><i class="fa fa-plus"></i></div></div>
      <% end %>
    <% else %>
      <%= link_to notlogin_path do %>
        <div class="plus-button-inactive"><div style="margin: 0 !important; color: white; font-size: 32px;"><i class="fa fa-plus"></i></div></div>
      <% end %>
    <% end %>
  </div>

  <div>
    <% if user_signed_in? %>
      <div><%= link_to "<i class='fa fas fa-heart pinkk'></i><br>Favoris".html_safe, user_path(current_user) %></div>
    <% else %>
      <div><%= link_to "<i class='fa fas fa-heart pinkk'></i><br>Favoris".html_safe, notlogin_path %></div>
    <% end %>
  </div>

<!-- <div><%#= link_to "<i class='fa fas fa-heart pinkk'></i> Favoris".html_safe, destroy_user_session_path, method: :delete %></div> -->
<!--   <div><%#= link_to "<i class='fa fas fa-heart pinkk'></i> Favoris".html_safe, "#" %></div> -->

</div>



