<div class="footer oli">
  <div>
    <% if user_signed_in? %>
      <div><%= image_tag("Logo_seul.png", width: '20') %><%= link_to ' Explorer <i class="fa fas fa-map-marker-alt"></i>'.html_safe, places_path %></div>
    <% else %>
      <div><%= image_tag("Logo_seul.png", width: '20') %><%= link_to ' Explorer <i class="fa fas fa-map-marker-alt"></i>'.html_safe, notlogin_path %></div>
    <% end %>
  </div>

  <div>
    <div class="plus-button"><div style="margin: 0 !important; color: white; font-size: 32px;"><i class="fa fa-plus"></i></div></div>
  </div>

  <!-- <div><%#= link_to "<i class='fa fas fa-heart pinkk'></i> Favoris".html_safe, destroy_user_session_path, method: :delete %></div> -->
  <div><%= link_to "<i class='fa fas fa-heart pinkk'></i> Favoris".html_safe, "#" %></div>
</div>




