<div class="navbar-wagon">
  <!-- Logo -->
  <a href="" class="navbar-wagon-brand">
    <%= image_tag("logo.png") %>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right">
    <%= link_to 'Connexion'.html_safe, new_user_session_path %>
  </div>
</div>

<div class="banner" style="background-position: center; background-image: linear-gradient(-225deg, rgba(0,101,168,0.25) 0%, rgba(0,36,61,0.3) 50%), url('https://sejours-homeabroad.com/wp-content/uploads/2018/09/Photo-landing-1.png');">
  <div class="text-content">
    <h1>UNE ADRESSE, UNE ÉMOTION.</h1>
    <p style="margin-bottom: 0px;">Partagez votre adresse coup de coeur à Paris</p>
    <p>et explorez autour de vous les lieux recommandés par la communauté</p>
    <%= link_to '<p>PARTAGER MON COUP DE COEUR</p>'.html_safe, new_detail_path, class: 'btn btn-emile-landing cestp'%>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-offset-3 col-sm-6 col-md-offset-1 col-md-10">
      <div class="content-card text-content">
        <h1><span class="pink" id="pink">0273</span> adresses partagées.</h1><h1>À 1000, Émile envoie la sauce !</h1>
        <!-- <br> -->
      <!--   <p>Qui n'a jamais ressenti cet état d'excitation, cet effet "whaou" "excellent" "oufissime" en découvrant une bonne adresse pour la première fois.</p> -->
        <br>
        <p>La mission d'Émile, demander à chacun de partager une adresse, une et une seule : votre adresse coup de coeur à Paris.</p>
        <br>
        <p class="margin-bottom-reduce">Pas de notes, pas de commentaires négatifs.</p>
        <p>Partagez ce qui vous fait vibrer et soutenez votre établissement préféré.</p>
      </div>

    </div>
  </div>
  <div class="row">
   <div class="col-xs-12">
      <%= link_to '<p>PARTAGER MON COUP DE COEUR</p>'.html_safe, new_detail_path, id: 'btn-2', class: 'btn btn-emile flex'%>
   </div>
  </div>
</div>

<div class="container">

  <div class="row">
    <div class="col-sm-offset-3 col-sm-6 col-md-offset-1 col-md-10">
      <div class="content-card text-content border-top">
        <h1>L'art de vivre à la française<span class="pink">.</span></h1>

        <br>
        <p>Chaque jour, des femmes et des hommes se lèvent tôt et veillent jusque tard pour nous accueillir dans leurs établissements.</p>
        <br>
        <p>Chaque plat servi, chaque verre qui se remplit, est une invitation à vivre l'instant présent et à profiter des bonnes choses de la vie.</p>
        <br>
        <p>Chaque jour, ces femmes et ces hommes contribuent à façonner notre art de vivre, cet art de vivre à la française que le monde entier nous envie.</p>
        <br>
        <p>Emile et une adresse est un hommage à tous ces artistes du matin, du midi et du soir.</p>
      </div>
    </div>
  </div>
  <div class="row">
   <div class="col-xs-12">
      <%= link_to '<p>PARTAGER MON COUP DE COEUR</p>'.html_safe, new_detail_path, id: 'btn-2', class: 'btn btn-emile flex'%>
   </div>
  </div>
</div>

<div class="footer">
  <div class="row">
    <div class="col-xs-4-offset-4 col-sm-4-offset-4 margin-bottom">
      ©2018 - Emile et une adresse <i class="fa fa-heart pinkk"></i>
      <br>
      www.emileetuneadresse.com
      <br>
      Tous droits réservés
    </div>
  </div>
</div>
