<div class="wrapper">
  <div class="container home">
  <h1>ÉMILE ET UNE ADRESSE [logo]</h1>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="type-text">
          <span id="banner-typed-text"></span>
        </div>
        <div class="form-post">
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-inputs ">
              <%= f.input :email, label: false, required: false, autofocus: true, placeholder: 'Adresse email' %>
              <%= f.input :password, label: false, required: false, placeholder: 'Mot de passe' %>
            </div>

            <div class="form-actions">
              <%= f.button :submit, "Se connecter", class: "btn btn-emile" %>
            </div>
            <div class="links">
              <span><%= render "devise/shared/links" %></span>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="counter">
      <h1>0087</h1>
    </div>
    <h2>À 1000 adresses, Émile envoie la sauce 😋</h2>
<!--     <div class="footer">
      <h2><b>Paris</b></h2>
      <h3>Saison 1 : Les beaux jours à Paname</h3>
    </div> -->
  </div>
</div>

