<%= render 'shared/navbar_home' %>
<div class="wrapper">

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">

        <div class="form-post">
          <%= simple_form_for @detail do |f| %>
            <div class="form-inputs ">
              <%= f.input :price, label: false, placeholder: 'Quel est votre panier moyen?' %>
              <%= f.input :comment, label: false, placeholder: 'Merci de laisser une petite recommandation' %>
              <%= f.button :submit, "Je partage", class: "btn btn-emile" %>
            </div>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>
