<div class="navbar-emile">
</div>

<div class="wrapper">

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">

        <div class="form-post">
          <%= simple_form_for [@place, @detail] do |f| %>
            <div class="form-inputs ">
              <%= f.input :season, as: :radio_buttons,
                  collection: ['Pendant les beaux jours', 'Toute l\'année'], label: "Le top du top c'est :",
                    wrapper: :vertical_radio_and_checkboxes, class: "season" %>
              <%= f.input :price, as: :float, label: "Combien dépensez-vous en moyenne ?", placeholder: 'Montant en €' %>
              <%= f.input :comment, label: "Quelle est votre reco ?",
              placeholder: 'Un plat, un verre, un endroit ou un moment que vous affectionnez particulièrement ?', class: "comment"%>
              <%= f.button :submit, "Je partage", class: "btn btn-emile" %>
            </div>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>
