<%= render 'shared/navbar_home' %>
<div class="wrapper">

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">

        <div class="form-post">
          <%= simple_form_for [@place, @detail] do |f| %>
            <div class="form-inputs ">
              <%= f.input :season, as: :radio_buttons,
                  collection: ['Pendant les beaux jours', 'Toute l\'année'], label: "Le top du top c'est :",
                    wrapper: :vertical_radio_and_checkboxes, class: "season" %>
              <%= f.input :price, label: "Combien dépensez-vous en moyenne?", placeholder: 'Montant en €' %>
              <%= f.input :comment, label: false, placeholder: 'Merci de laisser une petite recommandation' %>
              <%= f.button :submit, "Je partage", class: "btn btn-emile" %>
            </div>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>
