<%= render 'shared/navbar_without_return' %>
<div class="wrapper">
  <div class="container">
    <div class="row">

      <div class="search-field">
        <div id="map"></div>
        <div class="search-bar">
          <%= form_tag places_path, method: :get do %>
            <i class="fa fas fa-check-circle"></i>
            <%= text_field_tag 'search_field', nil, class: "form-control search" %>
            <%= hidden_field_tag :query, params[:query], id: "places_params", placeholder: "Renseignez" %>
        </div>
            <%#= text_field_tag :query_2, params[:query_2], class: "form-control", placeholder: "Quel type d'endroit ?" %>
            <label for="">
              <%= radio_button_tag 'type_of_place', "Un bon verre" %>Un bon verre
            </label>
            <label for="">
              <%= radio_button_tag 'type_of_place', "Une bonne table" %>Une bonne table
            </label>
            <label for="">
              <%= radio_button_tag 'type_of_place', "Du bon son" %>Du bon son
            </label>
            <%#= f.input :type_of_place, as: :radio_buttons,
                collection: ["Un bon verre", "Une bonne table", "Du bon son"], label: "Je recommande cet établissement pour :" %>
        <div>
          <%= submit_tag "Go Émile !", class: "btn btn-emile" %>
        </div>
          <% end %>
      </div>

      <% @places.each do |place| %>
        <% if (place.photo == "") %>
          <div class="col-sm-offset-1 col-sm-10">
            <%= link_to(place) do %>
              <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://source.unsplash.com/random');">
                <div class="content">
                  <div class="card-category">
                    <div class="name">
                      <h1><%= place.name %></h1>
                    </div>
                    <p>
                    <% if place.average_price = 0 %>
                      <%= place.address.split(",")[1][1..5] %> | Découvrez le budget...
                    <% else %>
                      <%= place.address.split(",")[1][1..5] %> | <%= place.average_price %>
                    <% end %>
                    </p>
                  </div>
                  <div class="card-description">
                    <p><%#= place.type_of_place %></p>
                  </div>
                  <div class="card-heart">
                    <%= link_to like_place_path(place), method: :put do %>
                      <%= place.get_upvotes.size %>
                      <i class="fa fas fa-heart"></i>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% else %>
          <div class="col-xs-12 col-sm-12 col-md-4">
            <%= link_to(place) do %>
              <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= place.photo %>');">
                <div class="content">
                  <div class="card-category">
                    <h1><%= place.name %></h1>
                    <p>
                    <% if place.average_price = 0 %>
                      <%= place.address.split(",")[1][1..5] %> | Découvrez le budget...
                    <% else %>
                      <%= place.address.split(",")[1][1..5] %> | <%= place.average_price.to_i %>
                    <% end %>
                    </p>
                  </div>
                  <div class="card-description">
                    <p><%#= place.type_of_place %></p>
                  </div>
                  <div class="card-heart">
                    <%= link_to like_place_path(place), method: :put do %>
                      <%= place.get_upvotes.size %>
                      <i class="fa fas fa-heart"></i>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>

      <% end %>
      <% if @places.length == 0 %>
        <div class="few-results">
          <p>Vous ne trouvez pas votre bonheur ..?</p>
          <br>
          <p>Tranquille Émile, de nouvelles adresses arrivent bientôt à Paris !</p>
        </div>
      <% end %>
    </div>
  </div>
</div>
