<%= render 'shared/navbar_without_return' %>
<div class="wrapper">
  <div class="container">
    <div class="row">
      <% @places.each do |place| %>
        <div class="col-sm-offset-1 col-sm-10">
          <%= link_to(place) do %>
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
              <div class="card-category">
                <h1><%= place.name %></h1>
                <p>
                <% if (place.address[-2] == "0") %>
                  <% if (place.address[-1] == "1") %>
                    <%= place.address[-1] %> er arrondissement
                  <% else %>
                    <%= place.address[-1] %> eme arrondissement
                  <% end %>
                <% else %>
                  <%= place.address[-2..-1] %> eme arrondissement
                <% end %>
                </p>
              </div>
              <div class="card-description">
                <p><%= place.type_of_place %></p>
              </div>
              <div class="card-heart">
                <p>8</p>
                <i class="fa fas fa-heart"></i>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

