<div class="navbar-emile">
</div>
<div class="wrapper">
  <div class="container">
    <div class="row">

      <div class="search-field col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="big-title">
          <h1>Les bonnes adresses de Paris</h1>
        </div>

          <%= form_tag places_path, method: :get do %>
          <p style="color: white; text-align: center; margin-top: 30px;">Je recherche :</p>
            <span class="radio"><label for="place_type_of_place_un_bon_verre" class="btns"><input class="radio_buttons required radioo" type="radio" value="un bon verre" name="place[type_of_place]" id="place_type_of_place_un_bon_verre">un bon verre</label></span>
            <span class="radio"><label for="place_type_of_place_une_bonne_table" class="btns"><input class="radio_buttons required radioo" type="radio" value="une bonne table" name="place[type_of_place]" id="place_type_of_place_une_bonne_table">une bonne table</label></span>
            <span class="radio"><label for="place_type_of_place_un_bon_artisan" class="btns"><input class="radio_buttons required radioo" type="radio" value="un bon artisan" name="place[type_of_place]" id="place_type_of_place_un_bon_artisan">un bon artisan</label></span>

        <div id="map"></div>
        <div class="search-bar">
          <p style="color: white; text-align: center; margin-top: 30px;">qui se trouve...</p>
          <%= button_tag "Autour de moi", class: "btn btn-emile", style: "margin-bottom: 5px;", id: "geoloc" %>
          <!-- <p style="color: white; text-align: center; margin-top: 10px;">ou autour d'une adresse précise...</p> -->
          <!-- <%= text_field_tag 'search_field', nil, class: "form-control search", placeholder: "Entrez une localisation" %> -->
          <%= hidden_field_tag :query, params[:query], id: "places_params" %>
          <%#= hidden_field_tag :type_of_place, params[:place][:type_of_place], id: "places_params_2" %>
        </div>

        <div style="margin-top: 10px;">
          <%= submit_tag "Explorer", class: "btn btn-emile", id: "go-emile" %>
        </div>
          <% end %>
      </div>
      <%# if @places.length == 0 %>
        <!-- <div class="few-results"> -->
          <!-- <p>Merci de lancer la recherche.</p> -->
          <!-- <br> -->
          <!-- <p>Tranquille Émile, de nouvelles adresses arrivent bientôt !</p> -->
        </div>
      <%# end %>
      <% @places.each do |place| %>
        <% if (place.photo_google == "") %>
          <div class="col-xs-12 col-sm-12 col-md-4">
            <% if current_user&.email == "admin@admin.fr" %>
              <%= link_to '[Editer <i class="fa fas fa-camera-retro"></i>]'.html_safe, edit_place_path(place), class: 'delete-link' %>
            <% end %>
            <%= link_to(place) do %>
              <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://source.unsplash.com/random');">
                <div class="content">
                  <div class="card-category">
                    <div class="name">
                      <h1><%= place.name %></h1>
                    </div>
                    <p>
                      <%= place.address.split(",")[1][1..5] %> | Budget d'environ <%= place.average_price %> euros par personne
                    </p>
                  </div>
                  <div class="card-description">
                    <p><%#= place.type_of_place %></p>
                  </div>
                  <div class="card-heart">
                    <%= link_to like_place_path(place), method: :put do %>
                      <%= place.total_heart %>
                      <i class="fa fas fa-heart"></i>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% elsif place.photo.url %>
          <div class="col-xs-12 col-sm-12 col-md-4">
            <% if current_user&.email == "admin@admin.fr" %>
              <%= link_to '[Editer <i class="fa fas fa-camera-retro"></i>]'.html_safe, edit_place_path(place), class: 'delete-link' %>
            <% end %>
            <%= link_to(place) do %>
              <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= place.photo %>');">

                <div class="content">
                  <div class="card-category">
                    <h1><%= place.name %></h1>
                    <p>
                      <%= place.address.split(",")[1][1..5] %> | Budget d'environ <%= place.average_price.to_i %> euros par personne
                    </p>
                  </div>
                  <div class="card-description">
                    <p><%#= place.type_of_place %></p>
                  </div>
                  <div class="card-heart">
                    <%= place.total_heart %>
                    <i class="fa fas fa-heart"></i>
                  </div>
                </div>
              </div>
            <% end %>

          </div>

        <% else %>
          <div class="col-xs-12 col-sm-12 col-md-4">
            <% if current_user&.email == "admin@admin.fr" %>
              <%= link_to '[Editer <i class="fa fas fa-camera-retro"></i>]'.html_safe, edit_place_path(place), class: 'delete-link' %>
            <% end %>
            <%= link_to(place) do %>
              <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= place.photo_google %>');">
                <div class="content">
                  <div class="card-category">
                    <h1><%= place.name %></h1>
                    <p>
                      <%= place.address.split(",")[1][1..5] %> | Budget d'environ <%= place.average_price.to_i %> euros par personne
                    </p>
                  </div>
                  <div class="card-description">
                    <p><%#= place.type_of_place %></p>
                  </div>
                  <div class="card-heart">
                    <%= place.total_heart %>
                    <i class="fa fas fa-heart"></i>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>

    </div>
  </div>
  <%= render 'shared/navbar_app' %>
</div>
