<%= render 'shared/navbar_index' %>
<div class="wrapper">
  <div class="container">
    <div class="row">

      <div class="search-field col-xs-12 col-sm-6 col-sm-offset-3">
        <div id="map"></div>
        <div class="search-bar">
          <%= form_tag places_path, method: :get do %>

            <%= button_tag "Autour de moi", class: "btn btn-emile", style: "margin-bottom: 5px;", id: "geoloc" %>
            <p style="color: white; text-align: center;">ou</p>
            <%= text_field_tag 'search_field', nil, class: "form-control search", placeholder: "Entrez une adresse, un quartier, un arrondissement" %>
            <%= hidden_field_tag :query, params[:query], id: "places_params" %>
        </div>
        <p style="color: white; text-align: center;">Je recherche :</p>
            <%#= text_field_tag :query_2, params[:query_2], class: "form-control", placeholder: "Quel type d'endroit ?" %>
          <span class="radio"><label for="place_type_of_place_un_bon_verre" class="btns"><input class="radio_buttons required" type="radio" value="Un bon verre" name="place[type_of_place]" id="place_type_of_place_un_bon_verre">Un bon verre</label></span>
          <span class="radio"><label for="place_type_of_place_une_bonne_table" class="btns"><input class="radio_buttons required" type="radio" value="Une bonne table" name="place[type_of_place]" id="place_type_of_place_une_bonne_table">Une bonne table</label></span>
          <span class="radio"><label for="place_type_of_place_du_bon_son" class="btns"><input class="radio_buttons required" type="radio" value="Du bon son" name="place[type_of_place]" id="place_type_of_place_du_bon_son">Du bon son</label></span>
          <!-- </div> -->
        <div>
          <%= submit_tag "Go Émile !", style: 'display:none;', class: "btn btn-emile", id: "go-emile" %>
        </div>
          <% end %>
      </div>

      <% @places.each do |place| %>
        <% if (place.photo == "") %>
          <div class="col-xs-12 col-sm-12 col-md-4">
            <%= link_to(place) do %>
              <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://source.unsplash.com/random');">
                <div class="content">
                  <div class="card-category">
                    <div class="name">
                      <h1><%= place.name %></h1>
                    </div>
                    <p>
                      <%= place.address.split(",")[1][1..5] %> | Budget d'environ <%= place.average_price %> euros par personne
                    </p>
                  </div>
                  <div class="card-description">
                    <p><%#= place.type_of_place %></p>
                  </div>
                  <div class="card-heart">
                    <%= link_to like_place_path(place), method: :put do %>
                      <%= place.get_upvotes.size %>
                      <i class="fa fas fa-heart"></i>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% else %>
          <div class="col-xs-12 col-sm-12 col-md-4">
            <%= link_to(place) do %>
              <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= place.photo %>');">

                <div class="content">
                  <div class="card-category">
                    <h1><%= place.name %></h1>
                    <p>
                      <%= place.address.split(",")[1][1..5] %> | Budget d'environ <%= place.average_price.to_i %> euros par personne
                    </p>
                  </div>
                  <div class="card-description">
                    <p><%#= place.type_of_place %></p>
                  </div>
                  <div class="card-heart">
                    <%= place.total_heart %>
                    <i class="fa fas fa-heart"></i>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>

      <% end %>
<!--       <% if @places.length == 0 %>
        <div class="few-results">
          <p>Vous ne trouvez pas <br>votre bonheur ..?</p>
          <br>
          <p>Tranquille Émile, de nouvelles adresses arrivent bientôt !</p>
        </div>
      <% end %> -->
    </div>
  </div>
</div>
