 <%#= render 'shared/navbar_show' %>
<div class="show">
  <div class="photo">
    <% if @place.photo.url %>
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('<%= @place.photo %>');">
      </div>
    <% else %>
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('<%= @place.photo_google %>');">
      </div>
    <% end %>
    <div class="big-infos">
      <div class="name">
        <%= @place.name %>
      </div>
      <div class="address">
        <!-- <a href="#oh"><%= @place.address %></a> -->
        <p class="text-decoration-underline"><%= link_to @place.address, "https://www.google.com/maps/search/?api=1&query=#{@place.latitude},#{@place.longitude}&query_place_id=#{@place.google_place_id}", target: :_blank %></p>
      </div>
      <div class="hearts">
        <p><%= @place.total_heart %></p>
        <i class="fa fas fa-heart"></i>
      </div>
      <div class="budget">
        <i class="fa fa-eur"></i>
        <p><%= @place.average_price.to_i %> euros environ par personne</p>
      </div>
      <div class="number">
        <i class="fa fa-phone"></i>
        <%= @place.phone_number %>
      </div>
      <div class="website">
        <% if @place.website != "undefined" %>
          <i class="fa fa-globe"></i>
          <u><%= link_to 'Site web', "#{@place.website}", target: :_blank %></u>
        <% end %>
      </div>
    </div>

    <% if @place.periods != "undefined" %>
      <div class="hours">
          <strong><p>Horaires d'ouverture :</p></strong>
          <ul>
            <% @place.periods.split(",").each do |day_schedule| %>
              <li class="blue"><%= day_schedule.capitalize %></li>
            <% end %>
          </ul>
      </div>
    <% else %>
      <div class="hours">
      </div>
    <% end %>

    <p style="padding-left: 20px;"><b>Ce qui fait vibrer la communauté :</b></p>
    <% @place.details.each do |detail| %>
      <div class="comment-box">
        <p><%= detail&.comment %> - <b><%= detail&.user&.first_name %></b></p>
      </div>
    <% end %>
    <div class="other-infos">
      <% if user_signed_in? %>
        <%= link_to "Ajouter dans mes favoris", place_saved_places_path(@place), method: :post, class: "btn btn-emile", id: "save" %>
      <% else %>
        <%= link_to "Ajouter dans mes favoris", notlogin_path, class: "btn btn-emile", id: "save" %>
      <% end %>
    </div>
      <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=16&size=400x300&sensor=false&maptype=roadmap&markers=icon:https://goo.gl/FPQceH|#{@place.address}&key=#{ENV['GOOGLE_API_BROWSER_KEY']}", class: "map" %>
  </div>
  <%= render 'shared/navbar_app' %>
