<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- FiveIcon -->
    <%#= render 'application/favicon' %>
    <%= favicon_link_tag asset_path('favicon.png'), :rel => 'icon', :type =>  'image/png' %>

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="EMILE ET UNE ADRESSE | Les bonnes adresse de Paris." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://emileetuneadresse.herokuapp.com/" />
    <meta property="og:image" content="https://sejours-homeabroad.com/wp-content/uploads/2018/09/Photo-landing-1.png" />
    <meta property="og:description" content="Emile et une adresse est une plateforme communautaire de partage de bonnes adresses à Paris. Devenez membre en partageant votre adresse coup de coeur et découvrez +1000 établissements plébiscités par la communauté" />
    <meta property="og:site_name" content="EMILE ET UNE ADRESSE | Les bonnes adresse de Paris." />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@emile_et_une_adresse">
    <meta name="twitter:title" content="Emile et une adresse">
    <meta name="twitter:description" content="Croquez Paris">
    <meta name="twitter:creator" content="@emile_et_une_adresse">
    <meta name="twitter:image:src" content="">

    <title>Émile et une adresse</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_API_BROWSER_KEY']}&libraries=places" %>
    <%= javascript_include_tag "https://code.jquery.com/jquery-3.3.1.min.js" %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'map' %>
    <%= yield(:after_js) %>
  </body>
</html>
